<div class="general-container">
  <%= render "users/user_class", user: @user %>
  
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>

  <% @user.posts.each do |post| %>
    <div>
      <%= link_to controller: "posts", action: "show", id: post.id do %>
        <%= render "posts/post_class", post: post %>
      <% end %>

      <div class="post-comments">
        <% post.recent_comments.each do |comment| %>
          <p>
            <span>
              <%= comment.author.name %> :
            </span>
            <span>
              <%= comment.text %>
            </span>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="align-center">
    <button class="button"> Pagnition </button>
  </div>
</div>