<h1>Create Post</h1>
<%= form_with model: post, url: posts_path, method: :post, local: true, scope: :post do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title, required: true %>
  </div>

  <div>
    <%= f.label :text %><br>
    <%= f.text_field :text, required: true %>
  </div>

  <%= f.submit "Add Post" %>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>