<div class="general-container">
  <div class="post-large-card">
    <div class="heading">
      <p class="title">
        <%= @post.title %>
      </p class="text">
      <div class="additional-details">
        <p class="num_comments"> 
          Comments: <%= @post.comments_counter || 0 %> ,
        </p>
        <p class="num_likes"> 
          Likes: <%= @post.likes_counter || 0 %>
        </p>
      </div>
    </div>
    <p>
      <%= @post.text %>
    </p>
  </div>
  <%= render "likes/form", post: @post %>

  <div class="post-comments">
    <% @post.comments.each do |comment| %>
    <p>
      <span>
        <%= comment.author.name %> :
      </span>
      <span>
        <%= comment.text %>
      </span>
    </p>
    <% end %>
  </div>

  <%= render "comments/form", post: @post %>
</div>